p, label, span
{
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.countdown
{
    width: 100%;
    background-color: #2027F8;
    padding: 8px 0;
    margin-bottom: 64px;
}

.countdown div
{
    padding: 6px 0;
    background: rgb(0,183,213);
    background: radial-gradient(circle, rgba(0,183,213,1) 0%, rgba(68,194,255,1) 100%); 
}

.countdown p
{
    margin: 0;
}

option
{
    font-size: 21px !important
}