main footer
{
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: black;
    padding: 12px 0;
}

footer p, footer a
{
    margin: 0;
    line-height: 1em;
    font-size: 21px;
}

footer a
{
    color: yellow;
}


footer a img
{
    border: 0px;
    height: 36px;
    margin-top: 8px;
}