main
{
    margin: auto;
    text-align: center;
    height: 100vh;
}

h1, h2, h3
{
    font-family: "mkds";
    text-transform: lowercase;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);
    font-weight: normal;
}


.title
{
    width: 100%;
    background-color: #2027F8;
    margin-bottom: 16px;
    padding: 8px 0;
    margin-top: 64px;
}

.title h1, .title h4
{
    margin: 0
}

.title h1
{
    width: 100%;
    text-align: center;
    font-size: 48px;
    line-height: 0.8em;
    color: yellow;
}

.title h4, .title a
{
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
    font-size: 32px;
    font-weight: normal;
}

.title p, .title p a
{
    font-size: 24px;
    margin: 0;
}

.title a
{
    color: white;
}

.title div
{
    padding: 12px 0;
    border-top: 3px solid yellow;
    border-bottom: 3px solid yellow;
}

h3
{
    font-size: 36px;
    margin-top: 64px;
}